@keyframes outBlock {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, -3rem, 0);
    opacity: 0;
  }
}

@keyframes inBlock {
  from {
    transform: translate3d(0, -3rem, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes outCover {
  from {
    transform: translate3d(-2rem, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes inCover {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-2rem, 0, 0);
  }
}

@keyframes outDisc {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-5rem, 0, 0);
  }
}

@keyframes inDisc {
  from {
    transform: translate3d(-5rem, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}