control {
  background: var(--gradient);
  background-size: 200% 200%;
  animation: gradientShift 60s linear infinite;
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  z-index: 4;
}

control-button {
  color: var(--color);
  filter: var(--drop-shadow);

  svg {
    width: 10rem;
    height: 10rem;
  }
}
