player {
  position: relative;
  display: block;
  width: 15rem;
  height: 15rem;
  transition: all 0.3s;

  & control {
    display: grid;
    place-items: center;
    position: absolute;
    inset: 0;
    z-index: 4;

    & svg {
      width: 7rem;
      height: 7rem;
      color: var(--color);
      filter: var(--drop-shadow);
      cursor: pointer;
    }
  }

  & img {
    position: relative;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    filter: var(--drop-shadow);
    z-index: 3;
  }

  & div {
    display: grid;
    place-items: center;
    width: 14rem;
    height: 14rem;
    right: 0;
    background-image: url(../img/tape.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0.5rem;
    z-index: 1;
    transform: translate3d(0rem, 0, 0);

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 5rem;
      height: 5rem;
      background-image: var(--img);
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }
  }
}

html[playing] {
  & player {
    transform: translate3d(-2rem, 0, 0);

    & div {
      right: -5rem;
    }
  }
}
