player {
  position: relative;
  display: block;
  width: 15rem;
  height: 15rem;
  transform: translate3d(-2rem, 0, 0);

  & control {
    background-color: hsla(0, 0%, 0%, 0.3);
    backdrop-filter: blur(5px);
    display: grid;
    place-items: center;
    position: absolute;
    inset: -1px;
    z-index: 4;

    & svg {
      width: 7rem;
      height: 7rem;
      color: var(--color);
      filter: var(--drop-shadow);
      cursor: pointer;
    }
  }

  & img {
    position: relative;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 30px -10px hsl(0 0 0 / 0.3);
    z-index: 3;
  }

  & div {
    display: grid;
    place-items: center;
    width: 14rem;
    height: 14rem;
    right: -5rem;
    background-image: url(../img/tape.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0.5rem;
    z-index: 1;
    transform: translate3d(0rem, 0, 0);

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 5rem;
      height: 5rem;
      background-image: var(--img);
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }
  }
}
