track-info {
  color: var(--color);
  display: grid;
  place-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;

  & > div {
    text-align: center;
    filter: var(--drop-shadow);
  }

  & > div:first-child {
    font-size: 1rem;
  }
}

track-block {
  display: grid;
  gap: 1rem;
  place-items: center;
}
